parameters:
  level: max
  inferPrivatePropertyTypeFromConstructor: true
  paths:
    - src
  ignoreErrors:
        -
            message: '#Result of && is always false#'
            path: %currentWorkingDirectory%/src/Request.php